{
  "openapi": "3.0.3",
  "info": {
    "title": "Modem Pay API",
    "description": "Modem Pay public API for payments, transfers, customers, and transactions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.modempay.com"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/payments": {
      "post": {
        "summary": "Create a payment intent",
        "operationId": "createPaymentIntent",
        "parameters": [
          {
            "name": "X-No-Effect",
            "in": "header",
            "schema": { "type": "boolean" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": ["amount"],
                    "properties": {
                      "amount": { "type": "number", "example": 450 },
                      "currency": { "type": "string", "example": "GMD" },
                      "return_url": { "type": "string", "format": "uri" },
                      "cancel_url": { "type": "string", "format": "uri" },
                      "callback_url": { "type": "string", "format": "uri" },
                      "network": { "type": "string", "example": "afrimoney" },
                      "account_number": { "type": "string" },
                      "skip_url_validation": {
                        "type": "boolean",
                        "default": false
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment intent created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentIntent" }
              }
            }
          }
        }
      }
    },

    "/v1/customers": {
      "post": {
        "summary": "Create a customer",
        "operationId": "createCustomer",
        "parameters": [
          {
            "name": "X-No-Effect",
            "in": "header",
            "schema": { "type": "boolean" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string", "example": "John Doe" },
                  "email": { "type": "string", "format": "email" },
                  "phone": { "type": "string", "example": "7000001" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Customer" }
              }
            }
          }
        }
      }
    },

    "/v1/transactions/{transaction_id}": {
      "get": {
        "summary": "Retrieve a transaction",
        "operationId": "getTransaction",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "X-No-Effect",
            "in": "header",
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Transaction" }
              }
            }
          }
        }
      }
    },

    "/v1/transfers": {
      "post": {
        "summary": "Create a transfer",
        "operationId": "createTransfer",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "currency", "network", "account_number"],
                "properties": {
                  "amount": { "type": "number", "example": 100 },
                  "currency": { "type": "string", "example": "GMD" },
                  "network": { "type": "string", "example": "afrimoney" },
                  "account_number": { "type": "string", "example": "7012345" },
                  "beneficiary_name": { "type": "string" },
                  "narration": { "type": "string" },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Transfer" }
              }
            }
          }
        }
      }
    },

    "/v1/payment-links": {
      "post": {
        "summary": "Create a payment link",
        "operationId": "createPaymentLink",
        "parameters": [
          {
            "name": "X-No-Effect",
            "in": "header",
            "schema": { "type": "boolean" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": ["title", "amount"],
                    "properties": {
                      "title": { "type": "string" },
                      "amount": { "type": "number" },
                      "currency": { "type": "string", "example": "GMD" },
                      "description": { "type": "string" },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment link created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentLink" }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "PaymentIntent": {
        "type": "object",
        "properties": {
          "payment_intent_id": { "type": "string", "format": "uuid" },
          "intent_secret": { "type": "string" },
          "payment_link": { "type": "string", "format": "uri" },
          "amount": { "type": "number" },
          "transaction_fee": { "type": "number" },
          "transaction_fee_type": { "type": "string" },
          "currency": { "type": "string" },
          "expires_at": { "type": "string", "format": "date-time" },
          "status": { "type": "string" }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string" }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "amount": { "type": "number" },
          "currency": { "type": "string" },
          "status": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "amount": { "type": "number" },
          "currency": { "type": "string" },
          "status": { "type": "string" }
        }
      },
      "PaymentLink": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "amount": { "type": "number" },
          "currency": { "type": "string" }
        }
      }
    }
  }
}
